<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Weather Suite">
    <test name="Weather Test">
        <parameter name="browser" value="chrome"/>
        <parameter name="headless" value="false"/>
        <parameter name="url" value="https://www.google.com/"/>
        <packages>
            <package name="Tests.demoGoogle.*"/>
        </packages>
        <classes>
            <class name="Tests.demoGoogle.Test_WeatherChallenge">
                <methods>
                    <include name="exampleTest"/>
                </methods>
                <parameter name="weatherCity" value="Illapel"/>
            </class>
        </classes>
    </test>
</suite>
